body {
	margin: 0;
	padding: 0;
}

.carrusel {
	margin: auto;
	text-align: center;
	max-width: 100%;
	position: relative;
	background: #fff;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#container {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#slider-container {
	width: 100%;
	max-width: 1400px;
	overflow: hidden;
	padding: 30px;
	box-sizing: border-box;
}

#slider-container .btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 25px;
	width: 25px;
	border-left: 8px solid #000000;
	border-top: 8px solid #000000;
	cursor: pointer;
}

#slider-container .btn:hover {
	transform: scale(1.2) translateY(-50%);
}

#slider-container .btn.inactive {
	border-color: #282828;
}

#slider-container .btn:first-of-type {
	transform: rotate(-45deg) translateY(-50%);
	left: 10px;
}

#slider-container .btn:last-of-type {
	transform: rotate(135deg) translateY(-50%);
	right: 10px;
}

#slider-container #slider {
	display: flex;
	transition: all 0.5s;
}

#slider-container img {
	margin: auto 10px;
	background-color: #b5b5b5;
	border-radius: 5px;
	box-shadow: 2px 2px 4px 2px rgb(135, 131, 131), -2px -2px 4px 2px rgb(170, 168, 168);
}

@media only screen and (min-width: 1100px) {
	#slider-container #slider .slide {
		width: calc(20% - 20px);
	}

	#slider-container img {
		width: 285px;
		height: 235px;
	}
}

@media only screen and (max-width: 1100px) {
	#slider-container #slider .slide {
		width: calc(25% - 20px);
	}

	#slider-container img {
		width: 250px;
		height: 200px;
	}
}

@media only screen and (max-width: 900px) {
	#slider-container #slider .slide {
		width: calc(33.3333% - 20px);
	}

	#slider-container img {
		width: 200px;
		height: 150px;
	}
}

@media only screen and (max-width: 600px) {
	#slider-container #slider .slide {
		width: calc(50% - 20px);
	}

	#slider-container img {
		width: 150px;
		height: 100px;
	}
}

@media only screen and (max-width: 400px) {
	#slider-container #slider .slide {
		width: calc(100% - 20px);
	}

	#slider-container img {
		width: 100%;
		height: auto;
	}
}
