/* General */
.container-tabs {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  background-color: #f4f4f4;
  border-bottom: 2px solid #eaeaea;
}

.tabs h3 {
  flex: 1;
  text-align: center;
  padding: 15px 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #555;
  transition: all 0.3s ease;
}

.tabs h3:hover {
  background-color: #e2e2e2;
  color: #000;
}

.tabs .active {
  background-color: #adcccd;
  color: #1c658d;
  border-bottom: 4px solid #1c658d;
}

.tab-content {
  padding: 20px;
  color: #202238;
}

.tab-content div {
  display: none;
  animation: fadeIn 0.3s ease-in-out;
}

.tab-content .active {
  display: block;
}

.tab-content h4 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #000224;
}

.tab-content p {
  text-align: justify;
  line-height: 1.6;
}

.tab-content ol {
  padding-left: 20px;
  list-style: decimal;
}

.tab-content ol li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #444;
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividad */
@media (max-width: 1024px) {
  .container-tabs {
    width: 90%;
  }

  .tabs h3 {
    font-size: 17px;
    padding: 12px;
  }

  .tab-content h4 {
    font-size: 21px;
  }

  .tab-content p,
  .tab-content ol li {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .tabs {
    flex-wrap: wrap;
  }

  .tabs h3 {
    font-size: 16px;
    padding: 10px;
  }

  .tab-content h4 {
    font-size: 20px;
  }

  .tab-content p,
  .tab-content ol li {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .container-tabs {
    width: 95%;
  }

  .tabs h3 {
    font-size: 14px;
    padding: 8px;
  }

  .tab-content h4 {
    font-size: 18px;
  }

  .tab-content p,
  .tab-content ol li {
    font-size: 12px;
  }
}
